/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;400&display=swap');

/* Body Styles */
body{
    font-family: 'Poppins', sans-serif;
}

.custom-h1{
    font-weight: 600;
    line-height: 4.5rem;
}

#orange-text{
    color:#E76F51;
}

/* Header */
.bg-header{
    background-color:#264653;   
}

/* Navbar */

li>a{
    font-weight: 500;
}

.btn{
    background-color:#E76F51;
    border-radius: 5px;
}

.login-button a{
    text-decoration: none;
    color: white;
}

/* Cover Section */
#cover-first-p{
    font-size: 14px;
    line-height: 22px;
}


#cover-second-p{
    color:#E0E0E0;
}

.purchase-button{
    color: white;
    text-decoration: none;
    padding: 10px 46px;
}

/* Featured Bikes Section */

.featured-p{
    color: #E76F51;
    font-weight: 600;
    font-size: 14px;
}
.custom-hr{
    width: 60px;
    border: 1px solid #E76F51;
}

.apply-grayscale{
    filter: grayscale(100%);
}

/* Clients Section */

.clients-p{
    color: #6C6C6C;
}

.fa-star{
    color: #E77C40;
}

.client-name{
    color: #23A6F0;
}

/* FAQ Section */
.faq-section .row{
    font-family: 'Inter', sans-serif;
}

.border-1{
    border: 1px solid #D5E5FB !important;
}

.faq-section p{
    font-weight: 400;
    color: #7E848C;
}

/* Large View Section */
.tab-content{
    overflow: visible;
}

.tab-content:hover .large-image{
    transform: scaleX(1.2) scaleY(1.3);    
    transition: transform 0.5s ease-in;   
}
